--- 
import Estrutura from "../layouts/Estrutura.astro"
import Container from "../components/Container.astro"
---

<Estrutura title="Contatos">
    <Container>
        <h1>Entre em contato</h1>
        <p>Utilize os números abaixo para entrar em contato</p>
    </Container>
</Estrutura>
<!-- somente dentro de pages é que deve ficar com a letra minuscula quando criar o arquivo -->