--- 
import Container from "./Container.astro"
---

<footer>
    <Container>
        <p>&copy; Todos os direitos reservados para meu momo</p>
    </Container>
</footer>

<style>
    footer {
        background-color: rgb(98, 152, 189);
    }

    footer{
        color: #fff;
    }
</style>