---
import Container from "./Container.astro"
---

<header>
    <Container>
        <h1>MAMBOJAM</h1>
    </Container>
</header>

<style>
    header {
        background-color: rgb(98, 152, 189);
    }

    h1 {
        color: #fff;
        letter-spacing: 3px;
    }
</style>

<!-- https://fontsource.org/ -->
<!-- ctrl + k + c coloca comentario  -->